/* COMMON */
.green-section{
    background-color: #1abc9c;
    color: #fff;
}

.section-padd{
    padding: 30px 0;
}

.small-wrapper{
    max-width: 900px;
    width: 70%;
    margin: 0 auto;
}

/* Star */
.title .star{
    margin: 10px 0;
    font-size: 20px;
    position: relative;
}
.title .star i{
    padding: 0 10px;
}

/* Per inserire le linee non usare absolute ma vertical align */
.title .star::before,
.title .star::after{
    /* content: "";
    width: 10%;
    border-bottom: 2px solid;
    display: block;
    position: absolute;
    top: 40%;
    right: 53%; */

    content: "";
    width: 10%;
    display: inline-block;
    border-bottom: 2px solid;
    vertical-align: super;
}
/* END COMMON */

/* HEADER */
/* Nav */
header .header_nav{
    background-color: #2c3e50;
    color: #fff;
    padding: 15px 0;
}

header .header_nav .menu{
    margin: 0;
}
header .header_nav .menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

/* Banner */
.banner .teaser h1{
    font-size: 30px;
    text-transform: uppercase;
}

/* Ottimo modo per non far diventare l'img troppo piccola su xs */
.banner .img_container img{
    width: 20%;
    min-width: 100px;
}
/* END HEADER */

/* MAIN */
main .title{
    text-align: center;
}
main .title h2{
    font-size: 25px;
    text-transform: uppercase;
}

/* Section Portfolio */
#portfolio .box-img{
    margin-top: 30px;
}

/* Section About */
#about .button_container{
    padding-top: 20px;
}
#about .button_container .download-btn{
    border: 1px solid #fff;
    color: #fff;
}
#about .button_container .download-btn:hover{
    background-color: #fff;
    color: #1abc9c;
}

/* Section Contact */
#contact-form input,
#contact-form textarea{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    box-shadow: none;
    border-radius: 0;
}

/* Questo serve per cambiare il colore del placeholder, non si possono mettere tutti insieme con una virgola perchè non funziona */
#contact-form input::placeholder,
#contact-form textarea::placeholder {/* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
#contact-form input:-ms-input-placeholder,
#contact-form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}
#contact-form input::-ms-input-placeholder,
#contact-form textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}
/* END MAIN */             

/* FOOTER */
footer{
    color: #fff;
}

footer .footer-top{
    background-color: #3a546d;
}

footer h4{
    text-transform: uppercase;
    padding-top: 20px;
}
footer .social a{
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}

footer .copyright{
    background-color: #2c3e50;
    color: #fff;
}
/* END FOOTER */
